[submodule "CheetahFirmware"]
	path = CheetahFirmware
	url = git@github.com:QiayuanLiao/CheetahFirmware.git
[submodule "CheetahMPC"]
	path = CheetahMPC
	url = git@github.com:QiayuanLiao/CheetahMPC.git
